{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "printWidth": 60,
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "useTabs": false
      }
    }
  ]
}